* {
  box-sizing: border-box;
}

html {
  font-family: "Jost", sans-serif;
  font-size: 22px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.ftr-block {
  display: flex;
}

.ftr-card {
  width: 210px;
  height: 374px;
  margin-right: 16px;
}

.ftr-card:last-child {
  margin-left: 0;
}

.ftr-card > h2 {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #292f36;
}

.ftr-list {
  margin-top: 22px;
  margin-right: 60px;
  margin-bottom: 30px;
}

.ftr-item {
  font-weight: 400;
  line-height: 33px;
  color: #4d5053;
  margin-bottom: 30px;
}

.ftr-card-3 {
  width: 337px;
}

.ftr-list-3 {
  width: 337px;
}

.button{
    display: flex;
    border-radius: 18px;
    color: #FFFFFF;
    font-size: 18px;
    height: 71px;
    border: 2px solid;
}


.button-dark{
    background: #292F36;
    border-color:#292F36;
    width: 207px;
    padding-left: 34px;
    padding-right: 21px;
    align-items: center;
}

.button-light{
    background-color: #F4F0EC;
    border-color:#F4F0EC;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.button-arrow-round{
    background-color: #CDA274;
    border-color:#CDA274;
    box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
    width: 241px;
    align-items: center;
    padding-left: 34px;
    padding-right: 7px;
}

.button-dark img{
    padding-left: 20px;
}

.button-arrow-round img{
    padding-left: 20px;
}

.headertext {
margin: 20px;
height: 30px;
}
.navigation-container {
    display: flex;
}

.logo {
    height: 50px;
    width: 177px;
}
.headerconteiner {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}
.headertext:hover {
    color: #CDA274;
}
.reviews-container {
    height: 675px;
    width: 1200px;
    background: #F4F0EC;
    border-radius: 70px;
    padding-top: 103px;
}
.texttitle-reviews {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    margin-left: 361px;
    width: 479px;
    height: 59px;
    text-align: center;
    color: #292F36;
    font-family: 'DM Serif Display';
}
.container-LisaClairton {
    margin-top: 80px;
    height: 287px;
    width: 354px;
    background-color: white;
    border-radius: 30px;
    margin-left: 51px;
}
.img-LisaClairton {
    margin-top: 50px;
    margin-left: 35px;
}
.titleLisaClairton {
    margin-top: 55px;
    margin-left: 20px;
}
.text1-titleLisaClairton {
    font-family: 'DM Serif Display';
    color: #292F36;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}
.text2-titleLisaClairton {
    font-family: 'Jost';
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #4D5053;
    font-style: normal;
    font-weight: 400;
}
.text3-titleLisaClairton {
    font-family: 'Jost';
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.22px;
    color: #4D5053;
 padding-right: 20px;
}

.allcontainer {
    display: flex;
    margin-left: 30px;
}
.container-DavidKnight {
    margin-top: 80px;
    height: 287px;
    width: 354px;
    background-color: white;
    border-radius: 30px;
    margin-left: 18px;
}
.img-DavidKnight {
    margin-top: 50px;
    margin-left: 35px;
}
.titleDavidKnigh {
    margin-top: 55px;
    margin-left: 20px;
}
.text1-titleDavidKnight {
    font-family: 'DM Serif Display';
    color: #292F36;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}
.text2-titleDavidKnight {
    font-family: 'Jost';
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #4D5053;
    font-style: normal;
    font-weight: 400;
}
.text3-titleDavidKnight {
    font-family: 'Jost';
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.22px;
    color: #4D5053;
    margin-top: 25px;
    margin-left: 35px;
}
.alltitleDavidKnight {
    display: flex;
}
.container-LisaClairton {
    margin-top: 80px;
    height: 287px;
    width: 354px;
    background-color: white;
    border-radius: 30px;
    margin-left: 18px;
}
.img-LisaClairton {
    margin-top: 50px;
    margin-left: 35px;
}
.titleLisaClairton {
    margin-top: 55px;
    margin-left: 20px;
}
.text1-titleLisaClairton {
    font-family: 'DM Serif Display';
    color: #292F36;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}
.text2-titleLisaClairton {
    font-family: 'Jost';
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #4D5053;
    font-style: normal;
    font-weight: 400;
}
.text3-titleLisaClairton {
    font-family: 'Jost';
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.22px;
    color: #4D5053;
    margin-top: 25px;
    margin-left: 35px;
}
.alltitleLisaClairton {
    display: flex;
}
.titleforflex {
    display: flex;
}


