* {
    box-sizing: border-box
}

html {
    font-family: "Jost", sans-serif;
    font-size: 22px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.our_clients{
    display: flex;
    width: 1200px;
    height: 103px;
    margin: 0 120px;
    white-space: nowrap; 
}

.client{
    display: flex;
    margin:auto 0;
    padding-left: 130px;
}

.client1{
    padding-left: 0;
}